.trading-container {
    height: 100%;
    width: 100%;
    background: url(../images/mainMenuPanel.png);
    background-size: 100% 100%;
    position: relative;
    top: 0%;
    left: 0%;
}

.trading-container .left-menu {
    width: 25%;
    height: 86%;
    overflow-y: auto;
    /* background: rgba(255, 255, 255, 0.2); */
    top: 2%;
    position: relative;
    left: 4.6%;
}

.trading-container .bottom-menu {
    width: 100%;
    height: 90%;
    overflow-y: auto;
}

.trading-container .left-menu .top-back {
    width: 100%;
    height: 10%;
}

.trading-container .left-menu .top-back img {
    height: 100%;
}

.trading-container .right-container {
    width: 62%;
    height: 95%;
    overflow-y: auto;
    /* background: rgba(255, 255, 255, 0.3); */
    position: relative;
    text-transform: capitalize;
    top: 2%;
    right: -7%;
}

.trading-container .menu-section {
    /*width: calc(100% - 2px);*/
    /*height: calc(13% - 2px);*/

    width: 98%;
    height: 11%;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
    /* border-right: 2px solid rgba(0, 0, 0, 0); */
    background: url("../images/desMenuButton.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

.trading-container .menu-section1 {
    /*width: calc(100% - 2px);*/
    /*height: calc(13% - 2px);*/

    width: 98%;
    height: 13%;
    background: none !important;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
    /* border-right: 2px solid rgba(0, 0, 0, 0); */
}

.trading-container .active {
    width: 98%;
    height: 11%;
    /* border-bottom: 2px solid rgba(255, 255, 255, 0.5); */
    /* border-right: 2px solid rgba(0, 0, 0, 0); */
    background: url("../images/selMenuButton.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

.trading-container .right-container .header {
    height: 10%;
    width: 100%;
    background: none;
}

.trading-container .right-container .bank-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.trading-container .right-container .bank-container .button {
    /*height: calc(40% - 2px);*/
    height: 12vh;
    width: 60%;
    padding-bottom: 2vh;
    background: url(../images/selMenuButton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.right-container .button {
    /*height: calc(40% - 2px);*/
    height: 12vh;
    width: 60%;
    padding-bottom: 2vh;
    background: url(../images/selMenuButton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.trading-container .right-container .deals-container {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.trading-container .right-container .deals-container-section {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.trading-container .right-container .deals-container-section .text {
    height: 100%;
    width: 60%;
}

.trading-container .right-container .deals-container-section .button-section {
    height: 100%;
    width: 20%;
}

.trading-container .right-container .deals-container-section .button {
    height: 60%;
    width: 90%;
    top: 20%;
    position: relative;
    background: url(../images/selMenuButton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.trading-container .right-container .deals-container-section .goods {
    height: 100%;
    width: 20%;
}

.trading-container .right-container .deals-container-section .harvest {
    height: 100%;
    width: 30%;
}

.trading-container .right-container .deals-container-section .expiry {
    height: 100%;
    width: 25%;
}

.trading-container .right-container .deals-container-section .actions {
    height: 100%;
    width: 25%;
}

.trading-container .right-container .deals-container-section .my-del {
    height: 100%;
    width: 50%;
}

.trading-container .right-container .bounty-hunter-text {
    height: 60%;
    width: 90%;
}

.trading-container .right-container .button {
    height: 10%;
    width: 50%;
}

.trading-container .close {
    position: absolute;
    top: 10%;
    right: 0;
    width: 10%;
    height: 14%;
    background: url("https://d3cyxgc836sqrt.cloudfront.net/images/website-game/close_normal.png") no-repeat;
    background-size: 100% 100%;
}

.trading-container .input-form {
    height: 17%;
    width: 90%;
}

.trading-container .popup-container {
    /*height: calc(80% - 2px);*/
    height: 79%;
    width: 100%;
}

.trading-container .popup-container .input-form input,
select {
    height: 100%;
    width: 100%;
}

.trading-container .popup-container .input-form {
    width: 70% !important;
}

.trading-container .offerPopupKeyur1 {

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 8;
    opacity: 0.9;
    background: black;
}

.trading-container .offerPopupKeyur1 .outer {
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid #7b8292; */
    /* box-shadow: 0px 0px 5px #7b8292; */
    background: url("../images/secondarypopup.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.trading-container .separator {
    height: 5%;
}

.trading-container .popup-container .button {
    height: 12vh;
    width: 60%;
    padding-bottom: 2vh;
    background: url(../images/selMenuButton.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 2vw;
}

.trading-container .awaiting-genetic-study {
    height: 50%;
    width: 90%;
}

.trading-container .genetic-bar {
    height: 5%;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.trading-container .genetic-inner-bar {
    height: 100%;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(0, 215, 239, 0.8);
    transition: 1s linear;
    animation: myfirst 5s linear infinite;
    -moz-animation: myfirst 5s linear infinite;
    /* Firefox */
    -webkit-animation: myfirst 5s linear infinite;
    /* Safari and Chrome */
    -o-animation: myfirst 5s linear infinite;
    /* Opera */
}

@keyframes myfirst {

    0%,
    100% {
        background: dodgerblue;
    }

    25% {
        background: cornflowerblue;
    }

    50% {
        background: dodgerblue;
    }

    75% {
        background: cornflowerblue;
    }

}

@-moz-keyframes myfirst

/* Firefox */
    {

    0%,
    100% {
        background: dodgerblue;
    }

    25% {
        background: cornflowerblue;
    }

    50% {
        background: dodgerblue;
    }

    75% {
        background: cornflowerblue;
    }
}

@-webkit-keyframes myfirst

/* Safari and Chrome */
    {

    0%,
    100% {
        background: dodgerblue;
    }

    25% {
        background: cornflowerblue;
    }

    50% {
        background: dodgerblue;
    }

    75% {
        background: cornflowerblue;
    }
}

@-o-keyframes myfirst

/* Opera */
    {

    0%,
    100% {
        background: dodgerblue;
    }

    25% {
        background: cornflowerblue;
    }

    50% {
        background: dodgerblue;
    }

    75% {
        background: cornflowerblue;
    }
}